* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 1440px;
    margin: 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.side-1{
    background-color: #191718;
    width: 150px;
}
.home {
    color: snow;
    text-decoration: none;
    padding: 14px 0px 11px 16px;
}
.nav {
    font-size: 16px;
    text-decoration: none;
    color: #AAAAAA;
    padding: 14px 0px 11px 16px;
}
.side-1 li {
    padding: 12.5px 0px;
    display: block;
}
.side-1 li:hover {
    background-color: #5C5C5C;
}
.side-2 {
    margin-left: -500px;
}
.logo{
    margin: 10px 0px 20px 0px;
    text-align: center;
}
.banner{
    background-color: #EFEFEF;
	padding: 10px 0px 20px 0px;
    font-size: 16px;
    text-align: center;
}
.titlebanner{
    font-size: 18px;
    padding: 25px 0px 14px 0px;
    color: #000000;
    text-align: center;
}
.m-50{
	margin: 0 50px;
}
.mt-30{
	margin-top: 30px
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:56px;
}
.imgtext{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.news{
    margin: 30px 0px 20px 0px;
}
.txnew{
    margin-left: -60px;
}
.txnew,.txlast{
    font-size: 13px;
}
footer{
    margin: 200px 0px 30px -40px;
}
