* {
    box-sizing: border-box;
    font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
}
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: calc(1768px + 150px);
}
:root {
  --background: #191718;
  --text: #aaaaaa;
}

/* Navbar */
.nav{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  background-color: var(--background);
}
.nav-list{
  padding: 0;
  margin: 0;
}
.nav-item{
  list-style: none;
  border-bottom: 1px solid #2D2D2D;
  padding-top: 14px;
  padding-left: 16px;
  padding-bottom: 11px;
}
.nav-item:hover{
  background-color: #5c5c5c;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-item:hover a{
  color: #fff;
}
.nav-item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: var(--text);
}
/* Navbar-end */


/* Logo */
.content{
  width: calc(100% - 150px);
  margin-left: 150px;
}
.wrapper{
  max-width: 1510px;
  padding: 0 130px;
}

.logo{
  width: 310px;
  height: 160px;
  margin: 0 auto;
  padding: 20px 0 30px 0;
}
.logo img{
  width: 100%;
}
/* Logo- end*/

/* Main-content */
.main-content{
  background: #efefef;
  padding: 0 129px;
}
.main-content h2{
  text-align: center;
  padding-top: 38px;
}
.main-content p{
  text-align: center;
  padding-bottom: 38px;
}
/* Main-content - End */


/* Group */
.group{
  display: flex;
}

.list-item{
  margin-right: 50px;
}
.list-item-box{
  display: flex;
}
.list-item-box img{
  width: 128px;
  height: 128px;
  margin-right: 16px;
  margin-bottom: 6px;
}
.list-item-box p{
  margin: 0;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 100%;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer {
  border-top: 2px solid var(--text);
  margin-top: 50px;
}
/* Group-End */


/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    padding: 0 20px;
  }
  .main-content {
    padding: 0 20px;
  }

  .group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}
/* Tablet-end */

@media (min-width: 481px) and (max-width: 767px) {

  .wrapper {
    padding: 0 20px;
  }
  .group {
    display: grid;
    grid-template-columns: 1fr;
  }
  .list-item {
    padding-top: 20px;
  }

  .main-content {
    padding: 0 20px;
  }
}
@media (min-width: 200px) and (max-width: 480px) { 
  .navbar { 
    display: none;
  }
  .content {
    margin-left: 0;
    width: 100%;
  }
  .main-content {
    padding: 20px;
  }
  .wrapper {
    padding: 0;
  }
  .group {
    display: grid;
    grid-template-columns: 1fr;
  }
}
